@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inconsolata', monospace, sans-serif;
}

body{
    background-color: rgb(31, 31, 31, 0.9);
    font-size: 62.5%;
}

.calculator {
    max-width: 30rem;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.display{
    background-color:rgba(255, 255, 255, 0.9);
    border: solid 0.01rem rgb(192, 192, 192);
    width: 30rem;
    padding: 1.7rem 2.2rem;
    border-radius: 1rem 1rem 0 0;
    font-size: larger;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.8);
}

.result{
    border: solid 0.01rem rgb(185, 185, 185);
    padding: 1rem;
    background-color: rgb(116, 157, 126);
    box-shadow: inset 1px 1px 5px rgb(100, 100, 100);
    border-radius: 0.3rem;
}

.result h1 {
    color: rgb(255, 255, 255);
}

.buttons{
    width: 30rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    justify-content: space-between;
    padding: 0.7rem;
    border: solid 0.01rem rgb(185, 185, 185);
    border-top: solid 0.01rem rgba(255, 255, 255, 0.9);
    border-radius: 0 0 1rem 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

button{
    margin: 0.5rem;
    color: white;
    font-size: large;
    background-color: rgb(31, 31, 31, 0.9);
    padding: 0.7rem;
    border: solid 0.01rem rgba(31, 31, 31, 0.9);
    border-radius: 0.5rem;
    box-shadow: inset -1px 0 5px rgba(31, 31, 31, 0.2), inset 0 -1px 5px rgba(31, 31, 31, 0.2), 2px 3px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
}

button:hover{
    background-color:rgb(208, 103, 28);
    border: solid 0.01rem rgb(208, 103, 28);
}

.start {
    background-color:rgb(50, 166, 40);
    border: solid 0.01rem rgb(50, 166, 40);
}

.start:hover{
    background-color:rgb(24, 132, 14);
    border: solid 0.01rem rgb(24, 132, 14);
}

.equal{
    margin: 0.5rem;
    color: white;
    background-color:rgb(201, 27, 27);
    border: solid 0.01rem rgb(201, 27, 27);
    font-size: large;
    padding: 0.7rem;
    border-radius: 0.5rem;
    grid-row: 5/7;
    grid-column: 6/7;
}

.equal:hover{
    background-color:rgb(158, 10, 10);
    border: solid 0.01rem rgb(158, 10, 10);
}